In [2]:
import pandas as pd
df_activities=pd.read_csv("C:/Users/99263/Downloads/cardioActivities.csv")
df_activities.sample(3)

,Date,Activity Id,Type,Route Name,Distance (km),Duration,Average Pace,Average Speed (km/h),Calories Burned,Climb (m),Average Heart Rate (bpm),Friend's Tagged,Notes,GPX File
224,2016-04-11 18:25:11,f5856eb2-a21b-4796-9b0c-b581bfb0f777,Running,NaN,8.88,47:00,5:17,11.34,616.0,83,143.0,NaN,TomTom MySports Watch,2016-04-11-182511.gpx
342,2014-10-20 18:10:00,bc53fc84-3a38-4dca-bfb9-0fa3548ec398,Running,NaN,9.61,51:17,5:20,11.25,672.0,54,NaN,NaN,NaN,2014-10-20-181000.gpx
248,2015-09-24 18:28:14,949d5983-73ea-4a25-a589-87e0280b1b8e,Running,NaN,9.43,51:16,5:26,11.03,650.0,77,138.0,NaN,TomTom MySports Watch,2015-09-24-182814.gpx